<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809899030115-8n1och4embqh4v6tnj2a4hegcucdc4pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809899030115-8n1och4embqh4v6tnj2a4hegcucdc4pk</string>
	<key>API_KEY</key>
	<string>AIzaSyC-t8KOTJ0g6NSXRtwtL9t7GDBOUmB47gM</string>
	<key>GCM_SENDER_ID</key>
	<string>809899030115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authLearn</string>
	<key>PROJECT_ID</key>
	<string>auth-5da9a</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-5da9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809899030115:ios:67dadfc480adbbcf086a56</string>
</dict>
</plist>